<script type="text/javascript">
    function toggle{{ uuid }}(){
        var display = document.getElementById("{{ uuid }}").style.display;
        document.getElementById("{{ uuid }}").style.display = display == 'none' ? 'block' : 'none';
        return false;
    }
</script>

<div style='border:4px ridge #{{ backColor }};'>
    <div style='background-color:#333;color:#fff;padding:2px;'>
        <code>{{ templateName }}</code> (<a href="#" onclick="return toggle{{ uuid }}();" style="color:#{{foreColor}};">+</a>)
        <div id='{{ uuid }}' style='display:none;background-color:#ccc;border:2px inset #fff;color:#000;padding:2px;font-size:0.8em;'>
            <span>Path : <code>{{ templatePath }}</code></span>
            <br><span>Stack trace:</span>
            <pre><ol>
                {%- for trace in stack -%}
                    <li>{{trace}}</li>
                {%- endfor -%}
            </ol></pre>
        </div>
    </div>

    {%- autoescape false -%}
        {{- content -}}
    {%- endautoescape -%}

</div>