
<div class="TD-template-container hideBlock" style="border-color:#{{ backColor }};">
    <div class="TD-template-info">
        <code>{{ templateName }}</code>
        (<a href="#" onclick="return TDToggleTemplateExtraInfo('{{ uuid }}');" style="color:#{{foreColor}};">+ details</a>)
        (<a href="#" onclick="return TDToggleTemplatesBlocks('{{ uuid }}');" style="color:#{{foreColor}};">toggle content block</a>)
        <div id="{{ uuid }}" class="TD-template-extra-info" style="display:none;">
            <span>Path : <code>{{ templatePath }}</code></span>
            <br><span>Parent : <code>{{ parent }}</code></span>
            <br><span>Deep : <code>{{ deep }}</code></span>
            <br><span>Stack trace:</span>
            <ol>
                {%- for trace in stack -%}
                    <li>{{trace}}</li>
                {%- endfor -%}
            </ol>
        </div>
    </div>

    {%- autoescape false -%}
        {{- content -}}
    {%- endautoescape -%}

</div>